openapi: 3.1.0
info:
  title: Tripadvisor Content Availability Configuration API
  description: The Tripadvisor Content API provides developers with access to Tripadvisor's extensive dataset of more than 7.5 million locations, 1 billion reviews and opinions, and content in 29 languages. The API includes endpoints for location search, nearby search, location details, location photos, and location reviews, enabling developers to integrate rich travel content into their websites and applications. Locations are defined within this API as hotels, restaurants, or attractions. The first 5,000 API calls per month are free for initial development and testing.
  version: '1.0'
  contact:
    name: Tripadvisor Developer Support
    url: https://developer-tripadvisor.com/content-api/
  termsOfService: https://developer-tripadvisor.com/content-api/terms-of-use/
servers:
- url: https://api.content.tripadvisor.com/api/v1
  description: Production Server
security:
- apiKeyQuery: []
tags:
- name: Configuration
  description: Configuration endpoint that Tripadvisor queries to discover the partner's supported features and API version.
paths:
  /config:
    get:
      operationId: getConfiguration
      summary: Get Partner Configuration
      description: Returns the partner's API configuration including supported API version, features, and capabilities. Tripadvisor queries this endpoint to understand what the partner supports.
      tags:
      - Configuration
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful configuration response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
components:
  parameters:
    ApiVersion:
      name: api_version
      in: query
      required: true
      description: The API version number. Current version is 8.
      schema:
        type: integer
        enum:
        - 8
        example: 8
  schemas:
    ConfigResponse:
      type: object
      description: Partner configuration response describing supported features and API version.
      properties:
        api_version:
          type: integer
          description: The API version supported by the partner.
          example: 8
        supported_languages:
          type: array
          description: Array of language codes supported by the partner.
          items:
            type: string
        supported_currencies:
          type: array
          description: Array of currency codes supported by the partner.
          items:
            type: string
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      name: key
      in: query
      description: API key passed as a query parameter. Obtain your key by registering at the Tripadvisor Developer Portal.
externalDocs:
  description: Tripadvisor Content API Documentation
  url: https://tripadvisor-content-api.readme.io/reference/overview
